.slideshow {
  width: 100%;
  overflow: hidden;
  position: relative;
  padding: 3px 0 35px;
}

.carousel-track {
  display: flex;
  gap: 20px;
  align-items: center;
  will-change: transform;
}

.slide {
  min-width: 70vw;
  height: 600px;
  flex-shrink: 0;
  position: relative;
  opacity: 0.35;
  transition: transform 0.8s ease, opacity 0.8s ease;
}

.slide.active {
  opacity: 1;
}

.slide > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.overlay {
  position: absolute;
  bottom: 30px;
  left: 25px;
  color: white;
}

.movie-info {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.movie-logo {
  width: 250px;
  height: auto;
  margin-left: 20px;
  margin-bottom: 50px;
  object-fit: cover;
}

.movie-info h1 {
  font-size: 38px;
  margin: 0;
}

.overlay button {
  width: fit-content;
  background: white;
  color: black;
  border: none;
  padding: 10px 15px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
}

.dots {
  position: absolute;
  bottom: 9px;
  width: 100%;
  text-align: center;
}

.dots span {
  width: 8px;
  height: 8px;
  margin: 0 4px;
  background: #bababa;
  border-radius: 50%;
  display: inline-block;
}

.active-dot {
  background: rgb(62, 60, 60) !important;
}

.pause-btn {
  position: absolute;
  bottom: 5px;
  right: 10px;
  border: none;
  background: #ddd;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
}