.mac_list {
  position: absolute;
  top: 100%;
  left: 0;
  height: 100vh; 
  width: 97.7vw;
  display: inline-flex;
  padding: 10px;
  z-index: 1000;
  background: linear-gradient( 
  to bottom,
    white 60%,
    rgba(255, 255, 255, 0.600) 40%
  );

  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}


.explore{
    display: flex;
    flex-direction: column;
}

.explore p{
    font-size: 12px;
    padding-left: 255px;
    font-weight: 400;
    color: rgb(71, 69, 69);
    cursor: pointer;
}

.explore h3{
    padding-left: 255px;
    margin-top: 6px;
    font-size: 22px;
    margin-bottom: 4px;
    cursor: pointer;
}

.compare{
  margin-bottom: 5px;
  margin-top: 10px;
  font-size: 12px;
}
.switch{
  margin: 0px;
  font-size: 12px;
}

.shop p{
  font-size: 12px;
  padding-left: 90px;
  margin-bottom: 20px;
  font-weight: 400;
  color: rgb(71, 69, 69);
  cursor: pointer;
}

.shop h2{
  padding-left: 90px;
  margin-top: 6px;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 4px;
  cursor: pointer;
}

.more p{
  font-size: 12px;
  padding-left: 80px;
  margin-bottom: 20px;
  font-weight: 400;
  color: rgb(71, 69, 69);
  cursor: pointer;
}

.more h3{
  padding-left: 80px;
  margin-top: 6px;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 4px;
  cursor: pointer;
}